@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.container{
    text-align: center;
}
h1{
    font-family: 'Dancing Script', cursive;
}
.conborder{
    border-style: solid;
    border-color: red;
}
.nav-link{
    justify-content: space-between;
    
}
header a{
    text-transform: uppercase;
}